<!-- フォローしている人の一覧画面 -->
<div class="container">
    <div class="row">
    	<div class="col-xs-10">
			<h2>Follow Users</h2>
			<!-- indexをベースに -->
			<% if @users.count > 0 %>
			<!-- フォローしている人がいれば -->
			<table class="table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<!-- 4つ追加 -->
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
						<td><%= user.name %></td>
						<td>フォロー数：
						<%= user.followings.count %></td>
						<td>フォロワー数：
						<%= user.followers.count %></td>
						<td>
							<!-- 表示ユーザが一致していない（別アカウント）ならボタンを表示する -->
							<% if current_user != user %>
								<% if current_user.following?(user) %>
								<!-- フォローしているなら -->
									<%= link_to 'フォロー外す', user_relationship_path(user), method: :delete %>
								<% else %>
								<!-- フォローしていないなら -->
					            	<%= link_to 'フォローする', user_relationships_path(user), method: :POST %>
					            <% end %>
							<% end %>
						</td>
						<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<% else %>
			<!-- フォローしていなければ -->
  				<p>ユーザーはいません</p>
			<% end %>
		</div>
	</div>
</div>