<table class="table">
		<tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>

		<tr>
			<th>name</th>
			<!-- user→current_userへ -->
			<th><%= current_user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<!-- 編集はログインしているユーザのみできる　user→current_userへ -->
			<th><%= current_user.introduction %></th>
		</tr>
		<tr>
			<!-- profileテンプレートにフォロー欄を加える -->
			<th>Follows</th> 
			<!-- 表示名はフォロー中の人数、遷移先はフォロー一覧 -->
			<th><%= link_to user.followings.count, following_user_path(user) %></th>
		</tr>
		<tr>
			<th>Followers</th>
			<!-- 表示名はフォロー中の人数、遷移先はフォロワー一覧 -->
			<th><%= link_to user.followers.count, followers_user_path(user) %></th>
		</tr>
</table>

<div class="row">
	<!-- 編集はログインしているユーザーをモデルオブジェクトとして利用のためuser→current_userへ -->
	<%= link_to '',edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>
</div>