<h2>User info</h2>

<!-- エラーメッセージ表示、これも部分テンプレに -->
<% render 'layouts/errormessage', obj: @user %>

<%= form_for(@user) do |f| %>
	<div class="field">
		<%= f.label :Name %>
		<!-- text_field :tilteではなく:name -->
		<%= f.text_field :name, class: "name" %>
	</div>

	<div class="field">
		<%= f.label :image %>
		<%= f.attachment_field :profile_image, class: "user_image" %>
	</div>

	<div class="field">
		<%= f.label :introduction %>
		<%= f.text_area :introduction, class: "introduction" %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>