
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<!-- user: @userがない、引数に変更 テンプレートのuserで続いてしまう -->
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<!-- 上記同様、book: @book追加　,も忘れずに -->
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<!-- @book.userの.userを消してlink先をuser.indexへ？ -->
						<%= link_to (@book.user) do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title %></td>
					<td><%= @book.body %></td>
					<!-- いいね判定を追加 -->
					<td>
						<!-- いったんいいね機能は保留 -->
					</td>
					<!-- edit_book_pathの後ろの(@book)は不要 -->
					<td><%= link_to "Edit", edit_book_path, class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy", @book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
				</tr>
			</table>

	</div>
</div>

