
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<!-- 上記同様、book: @book追加　,も忘れずに -->
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>
		<!-- book_idのクラス -->
		<tr class="book_<%= @book.id %>">
			<!-- render、userはbook.userで紐付け -->
			<%= render 'books/bookdetail', book: @book %>
		</tr>
		<table class="show-tb comment_<%= @book.id %>">
			<!-- book_commentを新しく追加、controllerやmodelなど -->
    		<%= render 'books/bookcomment', book_comments: @book.book_comments %>
    	</table>

		<!-- コメントは、bookに結びついたbook_commentにあるため、form_forにインスタンス変数を2つ用意する必要があります -->
		<!-- form_withは関連するモデルがある場合に使うform_forと関連するモデルがない場合に使うform_tagを一緒に使える便利なメソッド -->
		<!-- data: {remote: true}が非同期通信に必要なjsリクエスト送信 -->
		<%= form_with model:[@book, @book_comment], data: {remote: true} do |f| %>
		    <div class="row">
		        <div class="col-sm-10">
		            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
		        </div class="col-sm-10">
		        <!-- f.submitの後ろに"送信"で表示名を変える -->
			    <%= f.submit '送信', class: "btn btn-default" %>
			</div>
		<% end %>

	</div>
</div>

